body {
  font-family: sans-serif;
  background-color: #f0f4f8;
  text-align: center;
  padding: 20px;

  background-image: url('pas.webp'); /* Ganti sesuai file background kamu */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 90vh;
  margin: 0;
}

.card {
  background-color: white;
  padding: 20px; /* tambahkan padding lebih besar */
  border-radius: 10px; /* buat sudut lebih membulat */
  max-width: 690px; /* atau agar tidak penuh */
  margin: 80px auto; /* naikkan jarak margin atas/bawah */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* bayangan lebih besar dan dalam */
  width: 88%;
  margin-left: auto;
  margin-right: 90px;
}

.teks {
  background-color: #0077c8;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
}